@import url('./reset.css');

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list a {
  display: block;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list a:hover,
.nav-list a:focus {
  background-color: #6c8cff;
}

.gallery {
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  display: flex;
  width: calc((100% - 48px) / 3);
}

.gallery-item img {
  width: 360px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover {
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
}

body .sl-overlay {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-close,
body .sl-wrapper .sl-navigation button,
body .sl-wrapper .sl-counter {
  color: #fff;
}

body .sl-wrapper {
  max-width: 1112px;
  max-height: 640px;
  overflow: hidden;
}

body .sl-wrapper .sl-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

body .sl-wrapper .sl-caption {
  text-align: center;
  margin-top: 10px;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  height: 296px;
  background-color: #fff;
  margin: 0 auto;
}

.feedback-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  margin-top: 8px;
  padding-left: 16px;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border-color: #000;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  resize: none;
  margin-top: 8px;
}

.feedback-form button {
  font-family: inherit;
  font-weight: 500;
  margin-top: 8px;
  padding: 8px 16px;
  min-width: 86px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
